# Python cache
__pycache__/
*.py[cod]

# Virtual environment
datasecurity-env/

# Private keys
*_private_key.pem

# Cache folders
cache/
cache_receiver/
cache_receiver_auth/
cache_sender/
cache_sender_auth/

#yaml-file 
config123.yaml
__pycache__/
.venv/
.idea/

#Documentation and media files 
Classic_flowchart.png
first_version.pdf
IMG_4290.MOV
flight_path.png

